<mat-dialog-content [formGroup]="dragonForm">
  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" placeholder="Data de Criação" formControlName="createdAt">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
    <mat-error>
      Data de criação é <strong>Obrigatória</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nome" formControlName="name">
    <mat-error>
      Nome é <strong>Obrigatório</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Tipo" formControlName="type">
    <mat-error>
      Tipo é <strong>Obrigatório</strong>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="!this.dragonForm.valid" (click)="save()">Save</button>
</mat-dialog-actions>
